.board {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  gap: 5px;
  margin-bottom: 20px;
}

.cell {
  width: 150px;
  height: 150px;
  font-size: 100px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  border-color: #77de99;
  color: #77de99;
}